
.center{
   width: 500px;
   margin-top: 15%;
 margin-left: 50%;
 margin-right: 50%;

 
}
/* index inicia */

.conterner{
}
#cem{
  background-color: rgba(80, 90, 90, 0.322);
  
  right: 500px;
  margin-left: 32%;
  float: left;
  margin-top: 15%;
}
#text{
  padding-top: 70px;
  padding-left: 50px;
  padding-right: 30px;
  height: 700px;
  width: 400px;
}
#fundo{
  
}
strong{
  color: rgb(154, 139, 168);
}

